<!-- dictatorIntroduction.html -->

<div class="card bg-light m-3">
    <div class="card-body">
        <h3>
            Instrucciones del Juego del Dictador
        </h3>
        <!-- Recordatorio del rol en esta ronda -->
        <p class="text-muted" style="font-size: 0.9em;">
        </p>

        <p>
            Tienes <strong>{{ endowment }}</strong> pesos para dividir.
            Decide cuánto de esta cantidad retendrás para ti y cuánto asignarás a la categoría:
        </p>
        <ul>
            <li><strong>{{ category }}</strong></li>
        </ul>
    </div>
</div>
