<!-- dictatorIntroduction.html -->

<div class="card bg-light m-3">
    <div class="card-body">

        <p>
            Ahora, jugarás 4 juegos del dictador. Este juego consiste en que tú asumirás el rol de
            “dictador” y tendrás el control total sobre cómo repartir una cantidad fija de dinero entre
            tú y otra persona. La otra parte no podrá influir ni rechazar tu decisión; simplemente recibirá
            lo que tú decidas asignarle.
        </p>

        <p>
            En cada juego te enfrentarás a una de las cuatro categorías con las que realizaste
            el test del IAT: felidae, canidae, persona caucásica y persona afrodescendiente. Te revelaremos a quién le estás
            asignando dinero basándonos en tus respuestas en la etapa anterior, que incluyen:
            los resultados de cada uno de tus IAT, el rango moralmente aceptable que definiste, y la probabilidad que asignaste
            a que aparecieran esas categorías al tomar una decisión moral.
        </p>

        <p>
            En cada juego tendrás <strong>{{ endowment }}</strong> pesos para dividir.
            Decidirás cuánto de esta cantidad retendrás para ti y cuánto asignarás a las diferentes personas.
        </p>
    </div>
</div>
